/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter';
  --accent-font-family: 'PressStart2P';
  --title-main-font-weight: 785;
  --text-main-font-weight: 465;
  --background-color: #000;
  --accent-color: #00cc14;
  --background-image: url(../svg/pattern-dark.svg);

  --content-inline-size: clamp(375px, 66vw, 700px);
}
